/* Regex Colorizer no bg theme */

.regex       {font-family: Monospace;}
.regex b     {color: #0707ee;} /* metasequence */
.regex i     {color: #1db000;} /* char class */
.regex i b   {color: #007a09;} /* char class: metasequence */
.regex i u   {color: #007a09;} /* char class: range-hyphen */
.regex b.g1  {color: #ec9b00;} /* group: depth 1 */
.regex b.g2  {color: #9d6400;} /* group: depth 2 */
.regex b.g3  {color: #c24699;} /* group: depth 3 */
.regex b.g4  {color: #00909d;} /* group: depth 4 */
.regex b.g5  {color: #81009d;} /* group: depth 5 */
.regex b.err {color: #d50000;} /* error */
.regex b, .regex i, .regex u {font-weight: normal; font-style: normal; text-decoration: none;}
