/* Regex Colorizer: No BG theme */

.regex {color: #000; font-family: Consolas, "Source Code Pro", Monospace;}
.regex b {font-weight: normal;}
.regex i {font-style: normal;}
.regex u {text-decoration: none;}

/* escaped literal */
.regex span {color: #999;}
/* metasequence */
.regex b {color: #3766ff;}
/* backreference */
.regex b.bref {color: #666666; text-decoration: underline dotted;}
/* error */
.regex b.err {color: #d50000; font-weight: bold; font-style: normal;}

/* char class */
.regex i {color: #1db000; font-style: italic;}
/* char class: boundaries */
.regex i span {color: #007a09; font-style: normal;}
/* char class: metasequence */
.regex i b {color: #007a09;}
/* char class: range-hyphen */
.regex i u {color: #007a09; text-decoration: underline dotted;}

/* group: depth */
.regex b.g1 {color: #ec9b00;}
.regex b.g2 {color: #e03ba9;}
.regex b.g3 {color: #e7600c;}
.regex b.g4 {color: #00909d;}
.regex b.g5 {color: #9411b2;}
