* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Calibri, "Helvetica Neue", sans-serif;
  background-color: #c9e4ff;
}

#content {
  background-color: #fff;
  max-width: 65rem;
  padding: 3vw 4.5vw;
  margin: 0 auto;
  box-shadow: 0 0 0 10px #80c0ff;
}

#content :first-child {
  margin-top: 0;
}

#content :last-child {
  margin-bottom: 0;
}

h1, h2, ul, p, pre {
  margin-bottom: 12px;
}

h1, h2 {
  font-family: Cambria, Cochin, Georgia;
  margin-top: 18px;
}

.no-margin-collapse {
  margin-bottom: 30px;
}

h3 {
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 2px;
}

textarea {
  width: 100%;
  /* Copy the whitepace/wrapping styles applied to regexes by Regex Colorizer's themes */
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}

pre, code, textarea {
  font-family: Consolas, "Source Code Pro", Monospace;
  font-size: 1rem;
}

pre, code {
  border-radius: 0.375rem;
}

pre, textarea {
  padding: 8px;
}

pre {
  display: inline-block;
}

code {
  background-color: #eee;
  padding: 0 3px;
}

pre code {
  max-width: 100%;
  overflow-x: auto;
}

code.regex {
  padding: 1px;
  background-color: inherit;
}

.regex {
  border: 1px dotted #aaa;
}

button {
  font-weight: bold;
  border-radius: 0.4rem;
  padding: 6px 10px;
  margin-right: 4px;
}

footer {
  color: #aaa;
  margin-top: 40px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: initial;
}

footer img, h1 img:hover {
  filter: invert(70%);
}

footer img:hover {
  filter: unset;
}

img {
  vertical-align: middle;
}
